version: "3.8"

services:
  nginx:
    container_name: nginx
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    ports:
      - 443:443
      # - 8080:80
  
  # wordpress:
  #   container_name: wordpress
  #   build:
  #     context: requirements/wordpress
  #     dockerfile: Dockerfile